<footer class="d-flex justify-content-center align-itens-center flex-column aliceblue h-25">

    <div class="socials-footer border-bottom border-dark mb-3">
        <i class="fa-brands fa-instagram h4"></i>
        <i class="fa-brands fa-facebook h4"></i>
        <i class="fa-brands fa-twitter h4"></i>
        <i class="fa-brands fa-linkedin h4"></i>
    </div>
    <p class="text-center">@2022. Feito por <a href="https://myst1-dev1.github.io/Myst1-Dev/">Myst1 Dev</a> Todos os direitos reservados.</p>

</footer>