


    <header>

        <div class="logo d-flex">
        <h1>Mystalic</h1>
        <div class="img-logo">
        <img src="imgs/italianchief.png" alt="">
        </div>

        </div>

        <nav id="nav-bar" class="nav-bar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>

        <i id="menu-bar" class="fa-solid fa-bars A" onclick="show()"></i>
    </header>

    
<script src="js/header.js"></script>