<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>

    <%- include('../partials/header'); %>


    <div class="banner py-5 d-flex justify-content-center align-itens-center flex-column">

        <div class="container-initial container">
        <h2 class="text-center h1">Bem vindo</h2>
        <p class="subtitle">
         Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>

    <%- include('../partials/footer');%> 
    
</body>
</html>