<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %> 
    <title>Sobre</title>

<body>

    <%- include('../partials/header'); %>


    <div class="sobre container d-flex justify-content-evenly align-itens-center flex-column" >
            <h1 class="text-center">Sobre</h1>  
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
    </div>

    <div class="history container aliceblue d-flex justify-content-evenly align-itens-center mb-4">

        <div class="subtitles d-flex justify-content-center align-itens-center flex-column">
            <h2 class="text-center">História</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                PageMaker including versions of Lorem Ipsum</p>
                <button class="btn-sobre mb-3">Saiba Mais</button>

        </div>

        <div class="history-image">
             <img src="imgs/sobreimg.jpg" alt=""> 
        </div>

    </div>


     <%- include('../partials/footer');%> 
    
</body>
</html>